@import url("variables.css");

*{box-sizing: border-box;}

body{
    font-family: var(--font3);
}

main{
    display: flex;
    flex-direction: column;
}

section{
    width: 80%;
    margin: auto;
}



a{
    width: fit-content;
}

section img{
    width: 100%;
    margin: auto;
}

nav{
    border-bottom: 5px red solid;
}

#navMenuCheck{
    display: none;
}
nav ul{
    padding: 0;
}
nav li{
    list-style: none;
}

nav li a{
    width: 100%;
    text-align: center;
    display: block;
}   

nav li:nth-of-type(even) a{
    background-color: var(--terezi);
}

nav li:nth-of-type(odd) a{
    background-color: var(--gideon);
}

ul{
    display:none;
    text-align: center;

}

#navMenuCheck:checked + ul{
    display: block;
    width: 100%;
}
